.ad-card {
  border: 1px solid var(--border-color);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.ad-card .image-holder {
  position: relative;
  aspect-ratio: 1.4;
  overflow: hidden;
}
.ad-card .image-holder .main {
  display: flex;
  object-fit: contain;
  transition: 0.4s;
}
.ad-card .image-holder .cover {
  object-fit: cover;
  filter: blur(10px);
  z-index: -1;
  transition: 0.4s;
}
.ad-card:hover .image-holder img {
  scale: 1.15;
}
.ad-card .image-holder .top {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 12px 16px;
  align-items: flex-start;
}
.ad-card .image-holder .top .fav-btn {
  background: #fff;
  border-radius: 51%;
  width: 33px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(17px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.ad-card .image-holder .top svg {
  color: var(--main-color);
  font-size: 19px;
}
.ad-card .image-holder .top .fav-btn.active svg {
  color: var(--main-color);
}
.ad-card .image-holder .top .fav-btn:not(.active):hover {
  background: var(--main-color);
}
.ad-card .image-holder .top .fav-btn:not(.active):hover svg {
  color: white;
}
.ad-card:hover .image-holder .top .fav-btn {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.ad-card .image-holder .top .info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.ad-card .image-holder .top .info span {
  color: var(--paragraph);
  background: #ffffff;
  border-radius: 50px;
  padding: 4px 8px;
  width: fit-content;
  font-weight: 700;
  font-size: 13px;
}
.ad-card .image-holder .top .info span:empty {
  display: none;
}

.ad-card .body {
  flex-direction: column;
  gap: 7px;
  padding: 13px 15px 11px;
  display: flex;
}
.ad-card .body .row-holder {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.ad-card .body span {
  border-radius: 50px;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 700;
  color: var(--paragraph);
  min-width: max-content;
}
.ad-card .body span:empty {
  display: none;
}
.ad-card .body span.category {
  background: var(--lighter-main-color-2);
  padding: 5px 9px;
  font-size: 13px;
  color: #474747;
  transform: translateX(5px);
}
[lang="ar"] .ad-card .body span.category {
  transform: translateX(-5px);
}
.ad-card .body h4 {
  font-size: 17px;
  line-height: 1.3;
  transition: 0.3s;
}
.ad-card:hover .body h4 {
  color: var(--main-color);
}
.ad-card .body h3 {
  color: var(--main-color);
  font-size: 19px;
  font-weight: 700;
}
[lang="ar"] .ad-card .body h3 {
  font-family: sans-serif;
}
.ad-card .date-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;

  border-top: 1px solid var(--border-color);
}
.ad-card .date-area * {
  font-size: 13px;
  font-weight: 700;
  color: #5e5e5e;
}
.ad-card .body .area {
}
.ad-card .body .date {
}

@media (max-width: 500px) {
  .ad-card .body h4 {
    font-size: 15px;
  }
  .ad-card .body span.category {
    font-size: 12px;
    min-width: unset;
  }
  .ad-card .date-area * {
    font-size: 12px;
  }
  .ad-card .body h3 {
    font-size: 18px;
  }
  .ad-card .image-holder .top {
    padding: 8px 12px;
  }
}
