.marketplace .filters {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  width: 300px;
  height: fit-content;
  padding: 17px 0;
  transition: all 0.3s;
}
.filters .close {
  color: var(--paragraph);
  border-radius: 5px;
  width: 30px;
  height: 29px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.filters .close:hover {
  background: var(--red-color);
  color: white;
}
.filters .holder {
  gap: 10px !important;
}
.filters hr {
  background: #e7e7e7;
}
.filters .filter-field {
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.filters .holder h4 {
  color: var(--paragraph);
  font-size: 14px;
}
.filters .holder p {
}

.filters .holder .price-input {
  align-items: center;
  gap: 5px;
  display: flex;
}
.filters .holder .price-input .field {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 50%;
}
.filters .holder .price-input .field span {
  font-size: 15px;
  color: var(--title-color);
  font-weight: 500;
}
.filters .holder .price-input .field h3 {
  font-size: 15px;
  color: var(--paragraph);
  border: 1px solid #c8c8c8;
  padding: 6px 12px;
  border-radius: 7px;
  flex: 1;
  text-align: center;
  font-weight: 600;
}
.filters .separator {
  display: flex;
  background: #8a8a8a;
  width: 11px;
  height: 2px;
}
.filters .price-slider {
  width: 94%;
  height: 3px;
  margin: auto;
  padding: 7px 0;
}

.selected-filters {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}
.selected-filters strong {
  margin-right: 3px;
  color: var(--paragraph);
  font-size: 16px;
}
.selected-filters p {
  background: var(--section-color);
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  gap: 1px;
  padding: 3px 4px 3px 10px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
  display: flex;
}
.selected-filters p:hover {
  color: white;
  background: #c23737;
}
.selected-filters svg {
  color: #c23737;
  font-size: 23px;
}
.selected-filters p:hover svg {
  color: white;
}

.marketplace .filters .select-options,
.marketplace .filters .boolean-options,
.marketplace .filters .radio-options,
.marketplace .filters .multiselect-options {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.marketplace .filters .filter-option {
  flex: 1;
  min-width: max-content;
  border: 1px solid var(--border-color);
  padding: 7px 14px;
  border-radius: 37px;
  font-size: 13px;
}
.marketplace .filters .filter-option:hover,
.marketplace .filters .filter-option.active {
  background: var(--hover-color);
  border-color: var(--main-color);
}

.price-slider {
  width: 100%;
  margin: 10px 0;
}

/* البار الأساسي */
.price-slider .MuiSlider-track {
  background-color: var(--main-color);
  border-radius: 3px;
  height: 3px;
  border: none;
}

.price-slider .MuiSlider-rail {
  background-color: var(--input-border-color);
  border-radius: 3px;
  height: 3px;
}

/* الكرة */
.price-slider .MuiSlider-thumb {
  width: 15px; /* حجم الكرة */
  height: 15px;
  background-color: var(--main-color); /* لون الكرة */
  border-color: var(--main-color); /* حدود الكرة */
  box-shadow: none;
}

/* hover للكرة */
.price-slider .MuiSlider-thumb:hover {
  box-shadow: none;
}

/* focus للكرة */
.price-slider .MuiSlider-thumb.Mui-focusVisible {
  box-shadow: none;
}

@media (max-width: 992px) {
  .filters {
    z-index: 10;
    background: #fff;
    border-radius: 1px;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
  .filters.active {
    transform: translateX(0%);
  }
  .selected-filters strong {
    margin-right: 3px;
    font-size: 15px;
    height: 36px;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }
}
@media (max-width: 500px) {
  .selected-filters {
    justify-content: center;
  }
  .selected-filters strong {
    padding: 17px 17px;
    font-size: 13px;
  }
}
