.marketplace .filters {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  min-width: 285px;
  max-width: 286px;
  height: fit-content;
  padding: 17px 0;
  transition: all 0.3s;
}

.filters .holder {
  gap: 10px !important;
}
.filters hr {
  background: #e7e7e7;
}
.filters .filter-field {
  padding: 0 14px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.filters .holder h4 {
  color: var(--paragraph);
  font-size: 14px;
}
.filters .holder p {
}

.filters .holder .price-input {
  align-items: center;
  gap: 5px;
  display: flex;
}
.filters .holder .price-input .field {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 50%;
}
.filters .holder .price-input .field span {
  font-size: 15px;
  color: var(--title-color);
  font-weight: 500;
}
.filters .holder .price-input .field h3 {
  font-size: 15px;
  color: var(--paragraph);
  border: 1px solid #c8c8c8;
  padding: 6px 12px;
  border-radius: 7px;
  flex: 1;
  text-align: center;
  font-weight: 600;
}
.filters .separator {
  display: flex;
  background: #8a8a8a;
  width: 11px;
  height: 2px;
}
.filters .price-slider {
  width: 94%;
  height: 3px;
  margin: auto;
  padding: 7px 0;
}

.selected-filters {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}
.selected-filters strong {
  margin-right: 3px;
  color: var(--paragraph);
  font-size: 16px;
}
.selected-filters p {
  background: var(--section-color);
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  gap: 1px;
  padding: 3px 4px 3px 10px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s;
  display: flex;
}
.selected-filters p:hover {
  color: white;
  background: #c23737;
}
.selected-filters svg {
  color: #c23737;
  font-size: 23px;
}
.selected-filters p:hover svg {
  color: white;
}

.marketplace .filters .select-options,
.marketplace .filters .boolean-options,
.marketplace .filters .radio-options,
.marketplace .filters .multiselect-options {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.marketplace .filters .filter-option {
  flex: 1;
  min-width: max-content;
  border: 1px solid var(--border-color);
  padding: 7px 9px;
  border-radius: 37px;
  font-size: 13px;
}
.marketplace .filters .filter-option:hover,
.marketplace .filters .filter-option.active {
  background: var(--hover-color);
  border-color: var(--main-color);
}

.marketplace .filters .filter-checkbox {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 6px 9px;
}
.marketplace .filters .filter-checkbox input[type="checkbox"] + label {
  color: var(--paragraph);
  font-size: 13px;
  transition: 0.3s;
}
.marketplace .filters .filter-checkbox input[type="checkbox"]:checked + label {
  color: var(--main-color);
  font-weight: 700;
}

.marketplace .filters .nisted-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.marketplace .filters .nisted-list.menu {
  display: none;
  margin-top: 5px;
  padding-left: 8px;
  border-left: 2px solid var(--lighter-main-color-2);
}

[lang="ar"] .marketplace .filters .nisted-list.menu {
  padding-right: 12px;
  padding-left: 0;
  border-right: 2px solid var(--lighter-main-color-2);
  border-left: 0;
}

.marketplace .filters .nisted-list li.open > .menu {
  display: flex;
}

.marketplace .filters .nisted-list h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  margin: 0;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding: 8px 9px;
  color: var(--paragraph);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.marketplace .filters .nisted-list li.active > h5,
.marketplace .filters .nisted-list h5:hover {
  background: var(--hover-color);
  border-color: var(--main-color);
}

.marketplace .filters .nisted-list h5 small {
  background: var(--hover-color);
  color: var(--paragraph);
  text-align: center;
  border-radius: 50px;
  padding: 2px 6px;
  font-size: 13px;
  font-weight: 600;
  transition: 0.3s;
}
.marketplace .filters .nisted-list li.active > h5 > small,
.marketplace .filters .nisted-list h5:hover > small {
  color: var(--main-color);
  letter-spacing: 0.7px;
  font-weight: 900;
}
.marketplace .filters .nisted-list li.active > h5 > span,
.marketplace .filters .nisted-list h5:hover > span {
  color: var(--main-color);
  font-weight: 700;
}
.marketplace .filters li:has(.view-toggle) {
  margin-bottom: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.marketplace .filters .view-toggle {
  width: fit-content;
  color: var(--main-color);
  cursor: pointer;
  background: none;
  border: 0;
  padding: 4px 2px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1px;
  min-width: max-content;
}

.marketplace .filters .view-toggle:hover {
  text-decoration: underline;
}
.marketplace .filters li:has(.view-toggle) hr {
  background: var(--main-color);
  height: 3px;
}
.price-slider {
  width: 100%;
  margin: 10px 0;
}

/* البار الأساسي */
.price-slider .MuiSlider-track {
  background-color: var(--main-color);
  border-radius: 3px;
  height: 3px;
  border: none;
}

.price-slider .MuiSlider-rail {
  background-color: var(--input-border-color);
  border-radius: 3px;
  height: 3px;
}

/* الكرة */
.price-slider .MuiSlider-thumb {
  width: 15px; /* حجم الكرة */
  height: 15px;
  background-color: var(--main-color); /* لون الكرة */
  border-color: var(--main-color); /* حدود الكرة */
  box-shadow: none;
}

/* hover للكرة */
.price-slider .MuiSlider-thumb:hover {
  box-shadow: none;
}

/* focus للكرة */
.price-slider .MuiSlider-thumb.Mui-focusVisible {
  box-shadow: none;
}

@media (max-width: 992px) {
  .selected-filters strong {
    margin-right: 3px;
    font-size: 15px;
    height: 36px;
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }
  .marketplace .filters {
    position: fixed;
    transform: translateX(-280px);
    overflow: auto;
    z-index: 100;
    border-radius: 0;
    max-width: 280px;
    min-width: unset;
    width: 280px !important;
    max-height: 100vh;
    background: var(--body-color);
    top: 0;
    left: 0;
  }
  .filters.active {
    transform: translateX(0);
  }
}
@media (max-width: 500px) {
  .selected-filters {
    justify-content: center;
  }
  .selected-filters strong {
    padding: 17px 17px;
    font-size: 13px;
  }
}
