input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s;
}

body:has(.register) header,
body:has(.register) footer {
  display: none;
}
body:has(.register) {
  background: var(--lighter-main-color);
}
.register {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 20px 0;
}
body:has(.register) footer {
  margin-top: 0;
}
.register .registerBackground {
  position: relative !important;
}
.register form {
  background: var(--body-color);
  border-radius: 28px;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 600px;
  max-width: 95%;
  height: fit-content;
  padding: 20px 26px;
  display: flex;
  box-shadow: 0 1px 10px #00000023;
}

.register form h1 {
  color: var(--paragraph);
  text-align: center;
  font-weight: 800;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 4px;
}
.register form p {
  text-align: center;
  color: var(--paragraph-2);
  margin-bottom: -3px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
}
.register form .rowHolder {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.register form .main-button {
  width: 100%;
  margin-top: 5px;
  border-radius: 10px !important;
  font-size: 16px;
  font-family: "Cairo";
  font-weight: 700;
  height: 46px;
}
.register form .otherWay {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 8px;
}

.register form .otherWay span {
  min-width: max-content;
  color: var(--paragraph);
  font-size: 15px;
}
.register form .social-btns {
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  display: grid;
}
.register form .social-btns .btn {
  color: var(--paragraph);
  cursor: pointer;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 9px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
}
.register form .have-problem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 15px;
  font-weight: 500;
  color: var(--paragraph);
  line-height: 1;
  cursor: pointer;
}
p.have-problem {
  justify-content: flex-start;
  transform: translateX(8px);
}
.register form .mineLink {
  color: var(--main-color);
  font-weight: 700;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}
.filters .btn {
  height: 44px;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
}
.filters.filters.for-cats,
.filters.for-cats:has(.menu.active) {
  width: 100%;
}
.filters .menu {
  grid-template-columns: 1fr;
  top: 44px;
}
.filters.for-cats .menu {
  max-height: 216px;
  overflow: auto;
}
.filters.for-cats button {
  padding: 6px 8px;
  font-size: 14px;
}
.filters .btn svg {
  width: 38px;
  height: 44px;
  padding: 7px;
  background: transparent;
  color: var(--paragraph);
}

.register .options-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
  display: grid;
  margin: 5px 10px 2px;
}
.register .options-grid.verfiyMethod {
  grid-template-columns: repeat(2, 1fr);
}
.register .option-box {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s;
  display: flex;
  height: 86px;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.register .option-box:hover {
  background: var(--hover-color);
  border: 1px solid var(--main-color);
}
.register .option-box.active {
  background: var(--lighter-main-color-2);
  border: 1px solid var(--main-color);
}
.register .option-box.disable {
  opacity: 0.5;
  cursor: no-drop;
}
.register .option-box svg {
  font-size: 22px;
  color: var(--paragraph-2);
}
.register .option-box span {
  color: var(--paragraph-2);
  text-align: center;
}
.register .option-box .check {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
}
.register .filters.for-cats .menu {
  max-height: 256px;
}
.otp-wrapper {
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  display: grid;
  width: 65%;
  margin: 0 auto;
}
.otp-wrapper .box.forInput {
  aspect-ratio: 1.2;
}
.otp-wrapper .box.forInput .inputHolder,
.otp-wrapper .box.forInput .inputHolder .holder,
.otp-wrapper .box.forInput .inputHolder .holder input {
  height: 100%;
}
.otp-wrapper .box.forInput .inputHolder .holder input {
  flex: unset;
  height: 44px;
  padding: unset;
  width: 100%;
  text-align: center;
  font-size: 23px;
  color: var(--main-color);
  font-weight: 800;
  font-family: cursive;
}

@media (max-width: 992px) {
  .register .registerBackground {
    object-fit: cover;
  }
  .register form {
    padding: 22px;
  }
}
@media (max-width: 768px) {
  .register form {
    border-radius: 18px;

    padding: 19px 15px;
  }
  .register .options-grid {
    margin: 0;
  }
  .register .option-box {
    height: 80px;
  }
  .register .option-box svg {
    font-size: 18px;
  }
  .register .option-box span {
    font-size: 13px;
  }
  .register form h1 {
    line-height: 1;
    margin-bottom: 7px;
    font-size: 26px;
  }
}
