header {
  border-bottom: 1px solid var(--border-color);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0 8px;
}
header .menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  box-shadow: 0 1px 10px #00000023;
  border: 1px solid var(--border-color);
  transition: 0.3s;
}
header .menu.active {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  background: var(--section-color);
  top: 36px;
  padding: 6px;
  border-radius: 11px;
}
header .menu::before {
  content: "";
  left: 0;
  top: -9px;
  height: 10px;
  width: 100%;
  background: transparent;
  position: absolute;
}
header .top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}
header .top .logo {
  color: var(--main-color);
  align-items: center;
  font-family: cursive;
  font-size: 32px;
  font-weight: bolder;
  text-transform: lowercase;
  display: flex;
}
[lang="ar"] header .top .logo {
  font-family: "Cairo";
  font-weight: 900;
}
header .top .logo img {
  position: relative !important;
  width: 45px !important;
  height: 45px !important;
  margin-right: -6px;
}
[lang="ar"] header .top .logo img {
  /* transform: scaleX(-1); */
  margin-right: 0;
  margin-left: -3px;
}
header .top .search {
  flex: 1;
  max-width: 45%;
}
header .top .search .search-holder {
  border: 1px solid var(--border-color);
  border-radius: 35px;
  align-items: center;
  gap: 10px;
  height: 46px;
  padding: 4px 4px 4px 13px;
  display: flex;
  cursor: pointer;
}
[lang="ar"] header .top .search .search-holder {
  padding: 4px 13px 4px 4px;
}
header .top .search .search-holder svg {
  color: #a7a7a7;
}
[data-theme="dark"] header .top .search .search-holder svg {
  color: #5a5a5a;
}
header .top .search .search-holder input {
  flex: 1;
  height: 100%;
  font-size: 14px;
}
header .top .search .search-holder input::placeholder {
  color: var(--paragraph);
}
header .top .search .search-holder a {
  background: var(--main-color);
  border-radius: 50px;
  height: 100%;
  width: fit-content;
  padding: 0 20px;
  font-weight: 600;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .top .search .search-holder a:hover {
  background: var(--hover-color2);
}
header .top .search .result {
}

header .top .account {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .top .account:has(.sign-ub) {
  gap: 5px;
}
header .top .account hr {
  width: 1px;
  background: var(--border-color);
  margin: 0 8px 0 9px;
  height: 39px;
}
header .top .account .user {
  cursor: pointer;
  border-radius: 67px;
  height: 49px;
}
header .top .account .user .holder {
  align-items: center;
  gap: 5px;
  max-width: 250px;
  height: 100%;
  display: flex;
  border-radius: 50px 30px 30px 50px;
  padding-right: 6px;
  border: 1px solid var(--border-color);
  color: white;
  background: var(--section-color);
  transition: 0.3s;
}
header .top .account .user .holder:hover {
  background: var(--hover-color);
}
[lang="ar"] header .top .account .user .holder {
  padding-right: 0;
  padding-left: 6px;
  border-radius: 30px 50px 50px 30px;
}
header .top .account .user svg {
  color: var(--paragraph);
}
header .top .account .user .holder img {
  position: relative !important;
  border-radius: 50%;
  width: unset !important;
  aspect-ratio: 1;
  object-fit: cover;
  height: 100% !important;
}
header .top .account .user .holder h4 {
  font-size: 14px;
  font-weight: 700;
  color: var(--paragraph-2);
  text-transform: capitalize;
}
header .top .account .icon-holder {
  width: 49px;
  height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
}
header .top .account .icon-holder.msg {
  background: #deffe7;
}
header .top .account .icon-holder {
  background: #fcddec;
}
header .top .account .icon-holder.msg:hover {
  background: #18dd9b;
}
header .top .account .icon-holder:hover {
  background: #fa5aaa;
}
header .top .account .icon-holder:hover svg {
  color: white !important;
}
header .top .account .icon-holder svg {
  color: var(--paragraph);
  font-size: 20px;
}
[data-theme="dark"] header .top .account .icon-holder svg {
  color: #3d3d3d;
}
header .top .account .icon-holder span {
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -4px;
  color: white;
  width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
}
[lang="ar"] header .top .account .icon-holder span {
  right: unset;
  left: -4px;
}
header .top .account .icon-holder.fav span {
  background: #ec4899;
}
header .top .account .icon-holder.msg span {
  background: #10b981;
}
header .top .account .icon-holder .hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
header .top .account .icon-holder:hover .hover {
  opacity: 1;
}
header .top .account .icon-holder:hover .main {
  opacity: 0;
}

header .top .account .login-in {
  padding: 6px 30px;
}
header .bottom {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
header .bottom .nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .bottom .nav .places-select {
  position: relative;
}
header .bottom .nav .places-select h4 {
  background: var(--hover-color);
  cursor: pointer;
  color: #5a5a5a;
  font-weight: 700;
  border: 1px solid #c5a3ff;
  border-radius: 7px;
  align-items: center;
  gap: 4px;
  padding: 3px 7px 3px 10px;
  font-size: 13px;
  transition: all 0.3s;
  display: flex;
}
header .bottom .nav .places-select h4:hover,
header .bottom .nav .places-select h4:hover svg {
  color: var(--main-color);
}
[data-theme="dark"] header .bottom .nav .places-select h4 {
  color: var(--title-color2);
}

header .bottom .nav .places-select .locations-holder {
  display: flex;
  flex-direction: column;
  width: 250px;
}
header .bottom .nav .places-select .locations-holder .top {
  padding: 3px 10px 3px 6px;
  color: var(--paragraph);
  font-size: 15px;
}
[lang="ar"] header .bottom .nav .places-select .locations-holder .top {
  padding: 3px 6px 3px 10px;
}
header .bottom .nav .places-select .locations-holder input {
  margin-right: 6px;
}
[lang="ar"] header .bottom .nav .places-select .locations-holder input {
  margin-right: unset;
  margin-left: 6px;
}
header .bottom .menu:has(.locations-holder) {
  padding-right: 0;
}
[lang="ar"] header .bottom .menu:has(.locations-holder) {
  padding-right: 6px;
  padding-left: 0;
}
header .bottom .nav .places-select .items-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  max-height: 328px;
  overflow: auto;
}
header .bottom .nav .places-select .items-list.has-padding {
  padding-right: 6px;
}
[lang="ar"] header .bottom .nav .places-select .items-list.has-padding {
  padding-right: unset;
  padding-left: 6px;
}
header .bottom .nav .places-select input {
  border: 1px solid var(--border-color);
  padding: 4px 8px;
  margin-bottom: 5px;
  font-size: 13px;
}
header .bottom .nav .places-select button {
  border-radius: 7px;
  padding: 1px 7px;
  padding-right: 5px;
  color: var(--paragraph);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}
header .bottom .nav .places-select button:hover {
  background: var(--hover-color);
}
header .bottom .nav .places-select .items-list span {
  display: flex;
  align-items: center;
  font-weight: 600;
  flex: 1;
  justify-content: end;
}
header .bottom .nav .places-select {
}
header .bottom .nav .places-select {
}

header .bottom .nav .cats-nav {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .bottom .nav .cats-nav .cat-item {
  position: relative;
}
header .bottom .nav .cats-nav a {
  color: var(--paragraph);
  border-radius: 8px;
  padding: 1px 10px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}
header .bottom .nav .cats-nav a:hover {
  background: var(--hover-color);
}
[data-theme="dark"] header .bottom .nav .cats-nav a:hover,
[data-theme="dark"] header .bottom .nav .cats-nav a:hover svg {
  color: var(--title-color2);
}
header .bottom .nav .cats-nav a svg {
  color: var(--paragraph-2);
}
header .bottom .nav .cats-nav a:hover svg {
  color: var(--paragraph);
}
header .bottom .nav .cats-nav .sub-cats {
  width: 279px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
header .bottom .actions {
  display: flex;
  align-items: center;
  gap: 7px;
}
header .bottom .actions button {
  border: 1px solid var(--border-color);
  color: var(--paragraph);
  border-radius: 25px;
  align-items: center;
  gap: 5px;
  padding: 2px 7px;
  font-weight: 600;
  display: flex;
}
header .bottom .actions button svg {
  color: var(--paragraph);
  font-size: 16px;
}
header .bottom .actions button:hover {
  background: var(--hover-color);
  color: var(--paragraph);

  border: 1px solid #c5a3ff;
}
[data-theme="dark"] header .bottom .actions button:hover,
[data-theme="dark"] header .bottom .actions button:hover svg {
  color: #353535;
}
header .bottom .actions button:hover svg {
  color: var(--paragraph);
}
