.blog-page {
  background: var(--section-color);
  border-radius: 0 0 45px 45px;
  padding: 0 30px 22px;
}
.blog-page .main-img {
  border-radius: 0 0 50px 50px;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  aspect-ratio: 2;
}
.blog-page > .holder.container {
  flex-direction: column;
  gap: 3px;
  width: 100%;
  margin: 8px auto;
  display: flex;
}
.blog-page .inline-link {
  text-decoration: underline;
  color: var(--main-color);
  margin-bottom: 5px;
}
.blog-page .main-button {
  width: 45%;
  margin: 20px auto;
  padding: 13px;
  font-size: 16px;
}
.blog-page > .holder img {
  color: transparent;
  width: 100%;
  height: auto;
  margin: 15px 0;
  border-radius: 30px;
  aspect-ratio: 1.9;
}
.blog-page .title {
  font-size: 40px;
}
.blog-page p {
  line-height: unset;
}
.blog-page h1,
.blog-page h2,
.blog-page h3,
.blog-page h4,
.blog-page h5,
.blog-page h6 {
  margin: 8px 0 3px;
}

.blog-page {
}
