.marketplace {
}

.marketplace body:has(.swiper-section) .marketplace .content {
  padding: 12px 0 22px;
}

.marketplace .content {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 22px 0;
}

.marketplace .content .main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.marketplace .content .main .grid-holder {
  gap: 10px;
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(252px, 1fr));
}

.marketplace .active-filters-bar {
  flex-wrap: wrap;
  align-items: center;
  gap: 0px 8px;
  display: flex;
}

.marketplace .active-filters-bar .filters-header {
  display: flex;
  align-items: center;
}

.marketplace .active-filters-bar .filters-header,
.marketplace .active-filters-bar .filters-header span {
  font-weight: 700;
  color: var(--paragraph-2);
  font-size: 15px;
}

.marketplace .active-filters-bar .filters-list {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

.marketplace .active-filters-bar .filter-tag,
.marketplace .active-filters-bar .clear-all-btn {
  background: var(--section-color);
  border: 1px solid var(--border-color);
  cursor: pointer;
  border-radius: 50px;
  align-items: center;
  padding: 0 4px 0 9px;
  transition: all 0.3s;
  display: flex;
  height: 28px;
  letter-spacing: 0.2px;
}

[lang="ar"] .marketplace .active-filters-bar .filter-tag,
[lang="ar"] .marketplace .active-filters-bar .clear-all-btn {
  padding: 0 9px 0 4px;
}
.marketplace .active-filters-bar .clear-all-btn {
  padding: 0 9px 0 9px !important;
  font-size: 11px !important;
}

.marketplace .active-filters-bar .filters-list span {
  color: var(--paragraph-2);
  font-size: 12px;
  transition: 0.3s;
  font-weight: 700;
}

.marketplace .active-filters-bar .filters-list svg {
  color: var(--paragraph);
  font-size: 18px;
}

.marketplace .active-filters-bar .filter-tag:hover,
.marketplace .active-filters-bar .clear-all-btn:hover {
  background: var(--red-color);
}

.marketplace .active-filters-bar .filter-tag:hover > *,
.marketplace .active-filters-bar .clear-all-btn:hover {
  color: white;
}

.marketplace .active-filters-bar .clear-all-btn {
  color: var(--red-color);
  font-weight: 700;
  font-size: 13px;
  padding: 0 9px;
}

.marketplace .content .main .top-nav {
  display: flex;
  align-items: self-end;
  gap: 10px;
  justify-content: flex-end;
}

.marketplace .content .main .top-nav:has(.active-filters-bar) {
  justify-content: space-between;
}

.marketplace .content .main .top-nav .row-holder,
.marketplace .top-nav .row-holder .grid-option {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.marketplace .top-nav .row-holder .grid-option {
  height: 30px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  border-radius: 7px;
  gap: 0;
}

.marketplace .top-nav .row-holder .grid-option svg {
  color: var(--paragraph-2);
  height: 100%;
  width: 40px;
  padding: 7px;
}

.marketplace [lang="ar"] .top-nav .row-holder .grid-option svg:first-child {
  border-left: 1px solid var(--border-color);
  border-right: none;
}

.marketplace .top-nav .row-holder .grid-option svg:first-child {
  border-right: 1px solid var(--border-color);
}

.marketplace .top-nav .row-holder .grid-option svg:hover {
  background: var(--hover-color);
}

.marketplace .top-nav .row-holder .grid-option svg.active {
  background: var(--main-color);
  color: white;
}

@media (max-width: 992px) {
  .marketplace .content .main .top-nav:has(.active-filters-bar) {
    flex-wrap: wrap;
  }
  .marketplace .active-filters-bar {
    gap: 4px 8px;
    width: 100%;
  }

  .marketplace .content .main .top-nav .row-holder,
  .marketplace .active-filters-bar .filters-header {
    width: 100%;
  }

}
