.single-page .navigations {
  width: unset;
  margin: 14px;
  padding: 0;
}
.single-page > .holder {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0 auto 75px;
}
.single-page .title-holder {
  margin: 38px auto 35px;
}
.single-page .images-holder {
  gap: 10px;
  display: flex;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 2;
}
.single-page .images-holder > .img {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  flex: 1;
}
.single-page .images-holder > .img .main-img {
  object-fit: contain;
  position: relative !important;
}
.single-page .images-holder > .img .back-img {
  object-fit: fill;
  filter: blur(15px);
  z-index: -1;
  position: absolute !important;
}
/* Wrapper الأساسي */
.single-page .images-holder .imgs-swiper-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  max-height: 100%;
  padding: 3px;
}
/* Swiper نفسه */
.single-page .images-holder .imgs-swiper {
  height: 100%;
  padding: 3px;
}

/* كل Slide */
.single-page .images-holder .imgs-swiper .swiper-slide {
  display: flex;
  justify-content: center;
}

/* الصورة (thumbnail) */
.single-page .images-holder .imgs-swiper .img {
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/* الصورة نفسها */
.single-page .images-holder .imgs-swiper .img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: 0.3s;
  position: relative !important;
}

/* Hover effect */
.single-page .images-holder .imgs-swiper .img:hover img {
  transform: scale(1.1);
}

/* Active image */
.single-page .images-holder .imgs-swiper .img.active {
  outline: 3px solid var(--main-color);
}

/* Navigation buttons */
.single-page .images-holder .imgs-swiper-wrapper .nav-btn {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 1px;
  color: var(--paragraph);
  border: 1px solid var(--border-color);
  border-radius: 7px;
  background: var(--hover-color);
  height: 28px;
}
.single-page
  .images-holder
  .imgs-swiper-wrapper
  .nav-btn.swiper-button-disabled {
  opacity: 0.65;
  cursor: auto;
}
.single-page .details-holder {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 0.35fr;
}
.single-page .details-holder .card {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.single-page .details-holder h4 {
  font-size: 17px;
}
.single-page .details-holder .left,
.single-page .details-holder .right {
  flex-direction: column;
  gap: 10px;
  display: flex;
  position: sticky;
  top: 80px;
  height: fit-content;
}
.single-page .details-holder .card .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  line-height: 1;
}
.single-page .details-holder .card .btns {
  display: flex;
  align-items: center;
  gap: 4px;
}
.single-page .details-holder .card .btns svg {
  background: var(--hover-color);
  border: 1px solid var(--main-color);
  width: 42px;
  height: 26px;
  color: var(--paragraph);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  display: flex;
}
.single-page .details-holder .card .area,
.single-page .details-holder .card .time {
  color: var(--paragraph);
  align-items: center;
  gap: 2px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
}
.single-page .details-holder h3 {
  font-size: 25px;
  color: var(--paragraph);
}
.single-page .details-holder .price {
  color: var(--main-color);
  font-size: 28px;
  font-weight: 700;
  margin: 3px 0 4px;
}
.single-page .details-holder h5 {
  font-size: 16px;
  color: var(--paragraph);
}
.single-page .details-holder h5 a {
  color: var(--title-color);
}
.single-page .details-holder h5 a:hover {
  color: var(--main-color);
}
.single-page .details-holder .amenities {
}
.single-page .details-holder .amenities ul {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
}
.single-page .details-holder .amenities ul li {
  background: var(--section-color);
  padding: 8px;
  border-radius: 5px;
  font-size: 15px;
  min-width: max-content;
}
.single-page .details-holder .specifecs ul {
  gap: 7px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.single-page .details-holder .specifecs ul li {
  background: var(--hover-color);
  border-radius: 5px;
  align-items: center;
  min-width: max-content;
  padding: 6px 10px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  border: 1px solid var(--border-color);
}
.single-page .details-holder .specifecs ul li svg {
  color: var(--main-color);
  font-size: 19px;
  margin-right: 6px;
}
.single-page .details-holder .description p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.4;
}
.single-page .details-holder .right .user-info p {
  font-weight: 600;
  margin: 0px 0 4px;
  font-size: 14px;
}
.single-page .details-holder .right .user-info .main-button {
  width: 100%;
  height: 35px;
}
.single-page .details-holder .main-button,
.single-page .details-holder .main-button > * {
  color: var(--paragraph);
  font-size: 13px;
}
.single-page .details-holder .main-button:hover,
.single-page .details-holder .main-button:hover > * {
  color: white;
}
.single-page .details-holder .main-button svg {
  font-size: 13px;
}
.single-page .details-holder .right .user-info .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
}
.single-page .details-holder .right .user-info .row button {
  width: 100%;
  gap: 3px;
  min-width: max-content;
  height: 35px;
}

.single-page .details-holder .right .safety {
}
.single-page .details-holder .right .safety ul {
  flex-direction: column;
  gap: 7px;
  font-size: 14px;
  display: flex;
  padding-left: 15px;
}
.single-page .details-holder .right .safety ul li {
  line-height: 1.2;
  position: relative;
}
.single-page .details-holder .right .safety ul li::before {
  content: "•";
  font-size: 14px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: -12px;
  top: -2px;
}
[lang="ar"] .single-page .details-holder .right .safety ul li::before {
  left: unset;
  right: -12px;
}
@media (max-width: 1200px) {
  .single-page .details-holder .actions button {
    font-size: 12px;
  }
  .hero-image-holder .details h3 {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .single-page > .holder {
    grid-template-columns: 1fr;
  }
  .single-page > .holder > *,
  .review-section .overview {
    position: relative !important;
    top: unset !important;
  }
  .single-page .details-holder {
    padding-top: 0;
  }
  .hero-image-holder .details h3 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .single-page > .holder {
    margin-bottom: 0;
  }
  .single-page .details-holder .actions {
    grid-template-columns: 1fr 1fr;
  }
  .single-page .details-holder .specifications ul li {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .single-page .details-holder .actions .hold {
    grid-template-columns: 1fr 1fr;
  }
  .single-page.forNight .details-holder .details {
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 3px;
  }
  .single-page.forNight .details-holder h3 {
    font-size: 26px;
    line-height: 1;
  }
}
