.dash-holder .filters-holder {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
  gap: 10px;
}
.dashboard:has(.filters-holder) form {
  margin: 0;
  gap: 10px;
}
.dash-holder .filters-holder .filter-body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  gap: 7px;
  position: relative;
}
.dash-holder .filters-holder .filter-body > svg {
  color: var(--main-color);
  font-size: 35px;
  background: var(--hover-color);
  border-radius: 50%;
  width: 53px;
  height: 53px;
  padding: 10px;
}
.dash-holder .filters-holder .filter-body h4 {
  font-size: 18px;
  margin-bottom: 4px;
}
.dash-holder .filters-holder .filter-body .row {
  align-items: center;
  gap: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
.dash-holder .filters-holder .filter-body li {
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  display: flex;
  background: var(--hover-color);
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.dash-holder .filters-holder .filter-body li span {
  display: flex;
  align-items: center;
  gap: 3px;
}
.dash-holder .edit-filter-btn {
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 3px;
  background: var(--hover-color);
  border-radius: 8px;
  padding: 0px 10px;
  color: var(--paragraph);
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
  transition: 0.3s;
  cursor: pointer;
}
.dash-holder .edit-filter-btn:hover {
  color: white;
  background: var(--main-color);
}
.dash-holder .filters-holder .filter-body:hover .edit-filter-btn {
  opacity: 1;
}
.dash-holder .edit-filter-btn svg {
  display: flex;
}
.dash-holder .edit-filter-btn:hover svg {
  color: white;
}
@media (min-width: 1200px) {
  .dash-holder .filters-holder .filter-body .edit-filter-btn {
    opacity: 0;
  }
}

.dynamic-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff57;
  backdrop-filter: blur(3px);
}
.dynamic-menu .forFilters {
  background: var(--body-color);
  border-radius: 30px;
  min-width: 45%;
  max-width: 95%;
  padding: 15px 20px;
  box-shadow: 0 0 13px 0px #00000021;
}
.dynamic-menu .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}
.dynamic-menu .top h4 {
  font-size: 19px;
}
.dynamic-menu .top svg {
  top: unset;
  right: unset;
  left: unset;
  padding: 0;
  width: 30px;
  height: 30px;
  position: relative;
}

.dynamic-menu .main-button {
  margin-top: 1px;
}
.dynamic-menu .options .inputHolder {
  display: flex;
  align-items: center;
  gap: 7px;
}
.dashboard .dynamic-menu .options .holder input {
  height: 33px !important;
}
