.ads-section {
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.ads-section .top,
.ads-section .bottom {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: flex-end;
}
.ads-section .top .link {
  color: var(--paragraph);
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s;
  border: 1px solid var(--border-color);
}
.ads-section .top .link:hover {
  background: var(--lighter-main-color-2);
  color: var(--paragraph-3);
}
.ads-section .top h3 {
}
.ads-section .top a {
}
.ads-section .bottom {
  align-items: center;
  align-items: flex-start;
}
.ads-section .bottom .lists-count {
  color: var(--paragraph-2);
  line-height: 1.4;
  font-weight: 700;
  font-size: 17px;
}
.ads-section .bottom .navigation {
  display: flex;
  align-items: center;
}

.ads-section .bottom .navigation button {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 8px 14px 8px 17px;
  border-radius: 20px 0 0 20px;
  border: 1px solid var(--border-color);
}
.ads-section .bottom .navigation button:last-child {
  padding: 8px 17px 8px 14px;
  border-radius: 0 20px 20px 0;
}
[lang="ar"] .ads-section .bottom .navigation button {
  padding: 8px 17px 8px 14px;
  border-radius: 0 20px 20px 0;
}
[lang="ar"] .ads-section .bottom .navigation button:last-child {
  padding: 8px 14px 8px 17px;
  border-radius: 20px 0 0 20px;
}
.ads-section .bottom .navigation button svg {
  font-size: 14px;
  color: var(--paragraph-2);
}
.ads-section .swiper {
  width: 100%;
}
.ads-section .bottom .navigation button:hover {
  background: var(--lighter-main-color-2);
  border-color: transparent;
}
.ads-section .bottom .navigation button:hover svg {
  color: var(--paragraph-3);
}
