.swiper-section {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.swiper-section .top {
  display: flex;
  padding: 0 45px;
  justify-content: space-between;
  align-items: flex-end;
}
.swiper-section:not(:has(.nav-btn)) .top {
      padding: 0 5px;
}
.swiper-section .top .link {
  color: var(--paragraph);
  border: 1px solid var(--border-color);
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 0px;
}
.swiper-section .top .link:hover {
  background: var(--lighter-main-color-2);
  color: var(--paragraph-3);
}
.swiper-section .top .link svg {
  font-size: 16px;
  transform: translateY(1px);
}
.swiper-section .nav-btn {
  border: 1px solid var(--border-color);
  background: var(--body-color);
  border-radius: 40%;
  justify-content: center;
  align-items: center;
  padding: 11px;
  display: flex;
}
.swiper-section .nav-btn:disabled {
  background: var(--body-color) !important;
  opacity: 0.5;
  border: 1px solid var(--border-color) !important;
}

.swiper-section .nav-btn svg {
  font-size: 16px;
  color: var(--paragraph-2);
}
.swiper-section .swiper-holder {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
}
.swiper-section .swiper {
  width: 100%;
}
.swiper-section .nav-btn:hover {
  background: var(--lighter-main-color-2);
  border-color: transparent;
}
.swiper-section .nav-btn:hover svg {
  color: var(--paragraph-3);
}
@media (min-width: 1600px) {
  .swiper-section {
    width: 1495px;
  }
}
@media (max-width: 1030px) {
  header .bottom .nav .cats-nav a {
    padding: 6px;
  }
}
@media (max-width: 768px) {
  .swiper-section .top {
    padding: 0 10px;
  }
  .swiper-section {
    width: 100%;
    padding-left: 10px;
  }
  [lang="ar"] .swiper-section {
    padding-right: 10px;
    padding-left: unset;
  }
  .swiper-section .top {
    padding-right: 10px;
  }
  [lang="ar"] .swiper-section .top {
    padding-right: unset;
    padding-left: 10px;
  }
  .swiper-section .top h3 {
    font-size: 17px;
  }
  .swiper-section .top .link {
    padding: 0;
    background: transparent;
    border: none;
    font-size: 16px;
    color: var(--main-color);
  }
}
@media (max-width: 400px) {
}
