.ads-section {
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.ads-section .top {
  display: flex;
  padding: 0 22px;

  justify-content: space-between;
  align-items: flex-end;
}
.ads-section .top .link {
  color: var(--paragraph);
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s;
  border: 1px solid var(--border-color);
}
.ads-section .top .link:hover {
  background: var(--lighter-main-color-2);
  color: var(--paragraph-3);
}
.ads-section > a {
  text-align: center;
  border: 1px solid var(--main-color);
  border-radius: 13px;
  padding: 12px;
  margin-right: 8px;
  font-weight: 700;
  margin-top: 4px;
  background: var(--hover-color);
  color: var(--main-color);
}
[lang="ar"] .ads-section > a {
  margin-right: unset;
  margin-left: 8px;
}
.ads-section .top a {
}

.ads-section .navigation {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  transform: translate(-50%, -50%);
}

.ads-section .navigation button {
  border: 1px solid var(--border-color);
  background: var(--body-color);
  border-radius: 39%;
  justify-content: center;
  align-items: center;
  padding: 11px;
  display: flex;
}

[lang="ar"] .ads-section .navigation button {
  padding: 8px 17px 8px 14px;
  border-radius: 0 20px 20px 0;
}
[lang="ar"] .ads-section .navigation button:last-child {
  padding: 8px 14px 8px 17px;
  border-radius: 20px 0 0 20px;
}
.ads-section .navigation button svg {
  font-size: 16px;
  color: var(--paragraph-2);
}
.ads-section .swiper-holder {
  position: relative;
  padding: 0 24px;
}
.ads-section .swiper {
  width: 100%;
}
.ads-section .navigation button:hover {
  background: var(--lighter-main-color-2);
  border-color: transparent;
}
.ads-section .navigation button:hover svg {
  color: var(--paragraph-3);
}

@media (max-width: 400px) {
  .ads-section {
    width: 100%;
    padding-left: 10px;
  }
  [lang="ar"] .ads-section {
    padding-right: 10px;
    padding-left: unset;
  }
  .ads-section .top,
  .ads-section .bottom {
    padding-right: 10px;
  }
  [lang="ar"] .ads-section .top,
  [lang="ar"] .ads-section .bottom {
    padding-right: unset;
    padding-left: 10px;
  }
}
