.dashboard .box.forInput .inputHolder .holder input {
  height: 40px;
  padding: 0 10px;
}

.dashboard form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  padding: 0;
  box-shadow: unset;
  margin: 0 15px;
}
.dashboard form .error {
  margin: -2px 4px -2px;
}
.dashboard form .form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard form .form-section .dynamicFilters-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.dashboard form .form-section .dynamicFilters-holder > * {
  min-width: 49%;
  flex: 1;
}
.dashboard form .row-holder {
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  display: grid;
}
.dashboard form .row-holder.for-tags-specs {
  grid-template-columns: repeat(2, 1fr);
}
.dashboard form .main-button[type="submit"] {
  height: 44px;
  padding: 0 20px;
}
.dashboard form .main-button[type="submit"] span {
  text-transform: uppercase;
}
.box.forInput label {
  padding-left: 4px;
  text-transform: uppercase;
  font-size: 12px;
}
.box.forInput .inputHolder .holder textarea {
  width: 100%;
  min-height: 115px;
  padding: 10px;
  resize: none;
}

.dashboard form .column-holder {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-button .for-specs {
  text-transform: capitalize;
  padding: 10px 13px;
  font-size: 13px;
}

.box.forInput .inputHolder.tags {
  border: 1px solid var(--input-border-color);
  border-radius: 11px;
  flex-direction: column;
  gap: 0;
  padding: 12px 9px;
  display: flex;
  overflow: hidden;
}
.box.forInput .inputHolder.tags:has(.tagsList),
.box.forInput .inputHolder.tags:has(.error) {
  gap: 7px;
}
.box.forInput .inputHolder.tagsList {
}
.box.forInput .inputHolder.tags .holder {
  overflow: hidden;
}
.box.forInput .inputHolder.tags .tagsList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.box.forInput .inputHolder.tags .tagsList span {
  color: var(--paragraph);
  cursor: pointer;
  border-radius: 7px;
  align-items: center;
  gap: 3px;
  padding: 5px 7px 5px 12px;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.3s;
  display: flex;
  background: var(--second-color) !important;
}
.box.forInput .inputHolder.tags .tagsList span svg {
  font-size: 17px;
}
.box.forInput .inputHolder.tags .tagsList span:hover {
  background: #ff3535f5 !important;
  color: white;
}
.box.forInput .inputHolder.tags .tagsList span:hover svg {
  color: white;
}
.box.forInput .inputHolder.tags p.tags-place-holder {
  color: #868686;
  padding: 3px 5px;
  font-size: 13px;
  font-weight: 400;
}

.box.forInput .inputHolder.tags .error {
  margin: -4px 4px;
}
.box.forInput .for-tags {
  height: 42px;
  padding: 0 27px;
  border-radius: 0 !important;
  background: transparent;
  color: var(--paragraph);
  border-left: 1px solid #a6a6a6;
  font-weight: 400;
}
.box.forInput .for-tags:hover {
  font-weight: 600;
  color: white;
  background: var(--main-color);
}
.dashboard .box.forInput .inputHolder .holder input,
.box.forInput .for-tags {
  height: 40px;
}
.box.forInput .spec-list {
  border: 1px solid var(--input-border-color);
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 12px 9px 7px;
}
.box.forInput .spec-list:not(:has(.spec-item)) {
  padding-bottom: 12px;
}
.box.forInput .spec-list .spec-item {
  gap: 6px;
  display: flex;
  align-items: center;
}
.box.forInput .spec-list input {
  background: white;
  border: 1px solid #a7a7a7;
  border-radius: 7px;
  color: var(--paragraph);
  font-size: 13px;
  padding: 8px 11px;
  flex: 1;
}

.box.forInput .spec-list svg {
  color: var(--paragraph);
  border: 1px solid #a7a7a7;
  height: 100%;
  width: 33px;
  border-radius: 7px;
  padding: 7px;
}
.box.forInput .spec-list svg:hover {
  color: white;
  padding: 5px;
  border-color: transparent;
  background: #ff3535f5 !important;
}
.box.forInput .spec-list .error svg {
  color: red;
  border: unset;
  border-radius: unset;
  width: 15px;
  height: unset;
  padding: unset;
}
.box.forInput .spec-list .error {
  margin: 2px 4px;
}
.box.forInput .spec-list .main-button {
  height: 41px;
  padding: 0px 10px;
  width: 100%;
  font-size: 13px;
  border-radius: 10px !important;
  background: transparent;
  color: var(--paragraph);
  border: 1px solid #a7a7a7;
}
.box.forInput .spec-list .main-button:hover {
  border-color: transparent;
  background-color: var(--main-color);
  color: white;
}

/* Images Holder */
.images-uplouder {
  background-color: var(--body-color);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 12px;
  transition: all 0.5s;
  border: 1px solid var(--input-border-color);
}

/* INVALID STATE */
.images-uplouder.invalid {
  border-color: var(--red-color);
}

.images-uplouder.invalid .upload-label {
  border-color: var(--red-color) !important;
}

.images-uplouder.invalid svg,
.images-uplouder.invalid p,
.images-uplouder.invalid h1 {
  color: var(--red-color) !important;
}

/* UPLOAD LABEL */
.images-uplouder .upload-label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
  min-height: 132px;
  border: 2px dashed var(--input-border-color);
  transition: all 0.4s;
}

.images-uplouder .upload-label svg {
  font-size: 95px;
  transition:
    opacity 0.5s,
    font-size 0.4s;
  color: var(--input-border-color);
  margin-top: -9px;
  margin-bottom: -5px;
}

.images-uplouder:has(.uploaded) .upload-label svg {
  font-size: 75px;
}

.images-uplouder .upload-label p {
  color: var(--input-border-color);
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  transition:
    opacity 0.5s,
    font-size 0.4s;
}

.images-uplouder .upload-label h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  font-size: 15px;
  font-weight: 700;
  transition:
    opacity 0.5s,
    font-size 0.4s !important;
  cursor: pointer;
  color: var(--input-border-color);
  transform: translate(-50%, -50%);
  width: max-content;
}

/* HOVER & DRAG */
.images-uplouder .upload-label:hover h1,
.images-uplouder .upload-label.active h1 {
  opacity: 1;
  font-size: 40px;
}

.images-uplouder .upload-label:hover svg,
.images-uplouder .upload-label:hover p,
.images-uplouder .upload-label.active svg,
.images-uplouder .upload-label.active p {
  opacity: 0;
  font-size: 10px;
}

/* UPLOADED IMAGES */
.images-uplouder .uploaded {
  position: relative;
  display: flex;
  height: fit-content;
}

.images-uplouder .uploaded img {
  max-width: unset !important;
  width: 100%;
  height: 95px !important;
  border-radius: 7px;
  object-fit: cover;
}

.images-uplouder .uploaded svg {
  background: #000000c2;
  color: white;
  border-radius: 50% !important;
  cursor: pointer;
  padding: 3px !important;
  width: 20px !important;
  height: 20px !important;
  position: absolute !important;
  right: 7px !important;
  top: 7px !important;
}

.images-uplouder .uploaded svg:hover {
  background: var(--red-color) !important;
}

/* GRID */
.images-uplouder .imgHolder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 10px;
  margin: 0;
}

.images-uplouder:has(.uploaded) .imgHolder {
  margin: 14px 2px 0;
}

/* IMAGE INDEX */
.images-uplouder .imgHolder .uploaded p {
  position: absolute;
  background: #000000c2;
  padding: 1px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  bottom: 7px;
  left: 7px;
}
.images-uplouder .error {
  margin: -3px 4px -6px;
}
