.dashboard {
  min-height: 100vh;
  display: flex;
}

.dashboard header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 18px;
}
.dashboard .head {
  border-bottom: 1px solid var(--border-color);
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 16px;
  font-size: 14px;
  transition:
    visibility 0.3s,
    opacity 0.3s,
    z-index 0.3s;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--body-color);
}

.dashboard .head .right {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dashboard .head .search {
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  height: 34px;
  transition: all 0.3s;
  display: flex;
}
.dashboard .head .search input {
  align-items: center;
  display: flex;
  width: 190px;
  height: 100%;
  padding: 0 12px;
}
.dashboard .head .search input::placeholder {
  font-weight: 500;
  color: var(--paragraph);
}

.dashboard .head .main-button {
  height: unset;
  padding: 0px 15px;
  font-size: 12px;
  height: 34px;
}
.dashboard .body {
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.dashboard .navigations {
  z-index: unset;
  opacity: unset;
  visibility: unset;
  border: unset;
  border-top: 0;
  border-radius: unset;
  justify-content: unset;
  width: unset;
  min-height: unset;
  transition:
    visibility 0.3s,
    opacity 0.3s,
    z-index 0.3s;
  position: relative;
  left: unset;
  transform: unset;
  padding: unset;
}
.dashboard .navigations a,
.navigations .active {
  font-size: 17px;
}
.dashboard header .actions-btns .btn {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  font-size: 14px;
}
.dashboard header h4 {
  color: white;
  letter-spacing: 0.5px;
}
.dashboard header .actions-btns svg {
  width: unset;
  height: unset;
  padding: unset;
  font-size: 19px;
}
.dashboard header .actions-btns .menu {
  right: 0;
  top: 40px;
  width: 260px;
}
header .actions-btns .userMenu .top {
  padding: 12px 17px;
  font-size: 16px;
}
.dashboard header .actions-btns .userMenu .not-a.danger:hover {
  background: var(--section-color);
  color: var(--paragraph);
}
.dashboard .main-holder {
  flex: 1;
}
.dashboard .dash-holder {
  flex: 1;
}
.dashboard .table-container {
  margin-bottom: unset;
  overflow: auto;
  box-shadow: unset;
  border: 1px solid var(--border-color);
  border-radius: 14px;
  margin: 0;
  gap: 0;
}

.dashboard .table-container .table-header,
.dashboard .table-container .table-item {
    grid-template-columns: 1fr 0.5fr 1.25fr 0.8fr 1.15fr 0.8fr;
  gap: 15px;
padding: .42rem 1rem;
}

.dashboard .table-container .table-item:hover {
  background: var(--section-color);
}
.dashboard .table-container .item-rating {
  flex-direction: column;
  gap: 2px;
}
.dashboard .item-rating .row-holder {
  display: flex;
  align-items: center;
  gap: 4px;
}
.dashboard .table-container .item-rating h4 {
  color: var(--paragraph);
}
.dashboard .table-container .item-rating .row-holder h4 {
  font-size: 14px;
}
.dashboard .table-container .item-image .product-image {
  aspect-ratio: 1.1;
  border-radius: 7px;
  width: unset !important;
  height: 60px !important;
  object-fit: cover;
}
.dashboard .table-container .item-details {
  gap: 2px;
}
.dashboard .table-container .item-name,
.dashboard .table-container .item-name span {
  font-size: 14px;
  line-height: 1.4;
}
.dashboard .table-container .item-overview {
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
}
.dashboard .table-container .item-overview h4 {
  display: flex;
  align-items: center;
  gap: 5px;
  background: var(--hover-color);
  font-size: 14px;
  padding: 5px 11px;
  border-radius: 7px;
  color: var(--paragraph);
  justify-content: center;
}
.dashboard .table-container .item-overview h4.green {
  background: #fdecd2;
}
.dashboard .table-container .nisted {
  display: flex;
  align-items: center;
  gap:0 4px;
  justify-content: center;
  flex-wrap: wrap;
}
.dashboard .table-container .nisted > *:first-child {
  color: var(--main-color);
  font-weight: 800;
  font-size: 15px;
}
.dashboard .table-container .nisted > *:last-child {
  color: var(--paragraph);
  font-weight: 600;
  font-size: 14px;
}

.dashboard .table-container .actions {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 3px;
}
.dashboard .table-container .actions svg {
  width: 33px;
  height: 33px;
  border-radius: 7px;
  padding: 7px;
  color: var(--paragraph);
}

.dashboard .table-container .actions svg.delete {
  padding: 9px;
}
.dashboard .table-container .actions svg.view:hover {
  background: var(--main-color);
  color: white;
}
.dashboard .table-container .actions svg.edit:hover {
  background: #ffb52a;
  color: white;
}
.dashboard .table-container .actions svg.delete:hover {
  background: #ff4f4ff5;
  color: white;
}
.dashboard .table-container .actions hr {
  background: #d5d5d5;
  margin: 0 6px;
  height: 16px;
  width: 2px;
}
.dashboard .pagination {
  justify-content: center;
  margin-top: 9px;
}
.pagination li .page-num,
.pagination li.break {
  height: 34px !important;
}
.dashboard .table-container .categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  font-weight: bolder;
  font-size: 15px;
  flex-direction: row;
  margin: 0;
}
.dashboard .table-container .categories h4 {
  color: var(--paragraph);
}
.dashboard .table-container .categories h4:first-child {
  color: var(--hover-color);
}
.dashboard .table-container .link:has(svg) {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
