.side-nav {
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 100vh;
}
[lang="ar"] .side-nav {
  border-right: 0;

  border-left: 1px solid var(--border-color);
}
.side-nav h4 {
  font-size: 15px;
  transition: 0.3s;
  color: var(--paragraph);
  width: 0;
  overflow: hidden;
}
.side-nav .a {
  cursor: pointer;
}
.side-nav div.a {
  flex-direction: column;
  gap: 0 !important;
  height: unset;
}
.side-nav div.a .according {
  height: 0;
  transition: 0.35s;
  overflow: hidden;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.side-nav div.a.active .according {
  margin-top: 5px;
}
.a.active > .hold {
  background: var(--main-color);
}
.side-nav.active h4 {
  width: 145px;
  height: 100%;
  display: flex;
  align-items: center;
}
.side-nav svg {
  color: var(--paragraph);
}
.side-nav .actions-btns {
  padding: 6px 15px !important;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-top: 0px !important;
  height: 56px !important;
}
.side-nav div + div .actions-btns {
  border-top: 1px solid var(--border-color) !important;
  border-bottom: 0 I !important;
}
.side-nav.active .actions-btns {
  padding: 6px 15px !important;
}
.side-nav .actions-btns:hover {
  background: var(--section-color);
}
.side-nav .a.danger:hover .hold {
  background: var(--red-color);
}

.side-nav h4 {
  white-space: nowrap;
}
.side-nav .menu-ico {
  font-size: 26px !important;
}
.side-nav.active .actions-btns svg {
  font-size: 20px !important;
}
.side-nav .a,
.side-nav .actions-btns {
  gap: 0px;
  height: 50px;
  display: flex;
  border-bottom: 1px solid var(--border-color);
  padding: 6px;

  transition: 0.3s;
}
.side-nav.active .side-nav .a,
.side-nav.active .side-nav .actions-btns {
  justify-content: space-between;
}
.side-nav.active .a,
.side-nav.active .actions-btns {
  gap: 10px;
}
.side-nav .a .hold {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  padding: 0 12px;
  transition: 0.3s;
  height: 37px;
}
.side-nav .a:hover .hold,
.side-nav .a.active .hold {
  background: var(--main-color);
  border-radius: 7px;
}
.side-nav div.a:hover .according .hold,
.side-nav div.a.active .according .hold {
  background: transparent;
}
.side-nav div.a .according a:hover .hold,
.side-nav div.a .according .a.active .hold {
  background: var(--hover-color);
}
.side-nav div.a .according a,
.side-nav div.a .according a {
  border: unset;
  height: unset;
  padding: 0;
}
.side-nav.active div.a .according a,
.side-nav.active div.a .according a {
  padding: 0 9px;
}
.side-nav div.a .according a h4,
.side-nav div.a .according a h4 {
  font-size: 14px;
}
.side-nav svg {
  font-size: 20px;
}
.side-nav.active svg {
  font-size: 19px;
}
.side-nav .a:hover *,
.side-nav .a.active * {
  color: white;
}
.side-nav div.a:hover .according .hold *,
.side-nav div.a.active .according .hold * {
  color: var(--paragraph);
}

.side-nav .a-user {
  border-top: 1px solid var(--border-color) !important;
  cursor: auto;
}
.side-nav .a-user .hold {
  border-radius: 0px;
  background: transparent !important;
}
.side-nav .a-user .hold svg {
  cursor: auto;
  color: var(--paragraph) !important;
}
.side-nav.active .a-user .hold {
  border-radius: 7px;
  background: var(--second-color) !important;
}
.side-nav.active .a-user:hover .hold {
  background: var(--hover-color);
}
.side-nav.active .a-user:hover .hold * {
  color: var(--paragraph);
}

@media (max-width: 1300px) {
  .side-nav.active h4 {
    width: 120px;
  }
}
@media (max-width: 992px) {
  .side-nav {
    position: fixed;
    z-index: 11;
    background: var(--body-color);
    left: -192px;
  }
}
