/*! Table settings  */
.table-container {
  width: 100%;
  box-shadow: 0 2px 10px #0000001a;
  border-radius: 20px;
  overflow: hidden;
}
.dash-holder.for-client {
  overflow: visible;
  margin: 17px 0px;
}
.dash-holder.for-client .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dash-holder.for-client .filters .btn {
  height: 35px !important;
}
.dash-holder.for-client .filters .btn svg {
  height: 33px;
}
.dash-holder.for-client .top .main-button {
  height: 35px !important;
  border-radius: 10px;
}
.dash-holder.for-client .fluid-container.for-user {
  padding: 10px 0;
}
.table-header {
  display: grid;
  grid-template-columns: 1.5fr 1.4fr 1fr 1fr;
  border-bottom: 1px solid var(--border-color);
  gap: 30px;
  padding: 18px 1.2rem;
  background-color: #f8f9fa;
  font-weight: bold;
  color: #333;
}
.header-item {
  justify-content: center;
  align-items: center;
  display: flex;
  letter-spacing: 0.3px;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 800;
  color: var(--paragraph);
}
.table-item {
  display: grid;
  grid-template-columns: 1.5fr 1.4fr 1fr 1fr;

  gap: 30px;
  position: relative;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 1px solid #e9ecef;
  transition: background-color 0.2s ease;
}
.header-item.details {
  justify-content: flex-start;
}
.table-item:last-child {
  border-color: transparent;
}
.table-item .item-image {
  display: flex;
  justify-content: center;
}
.table-item .item-remove {
  display: flex;
  justify-content: center;
}
.tableTitle {
  text-align: center;
  background: var(--main-color);
  color: #fff;
  border-radius: 10px 10px 0 0;
  width: fit-content;
  padding: 9px 20px;
  font-size: 14px;
  font-weight: 500;
  transform: translateX(8px);
}
.container:has(.table-container) {
  margin-top: 36px;
}
.table-container .table-item {
  text-align: center;
}
.table-container .table-items .holder {
  display: flex;
  align-items: center;
  gap: 15px;
}
.table-container .table-items > * {
  color: var(--paragraph);
  font-size: 15px;
  font-weight: 600;
}
.table-container p.description {
  text-align: left;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-size: 14px;
}
.table-container .price,
.table-item .item-price .price-holder .regular-price {
  color: var(--paragraph);
  font-size: 15px !important;
  font-weight: 700;
}

.table-container .link {
  color: var(--paragraph);
  margin: 0;
  font-size: 0.95rem;
  font-weight: 700;
  text-align: center;
}

.table-container .item-name,
.table-container .link {
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.4;
}

.table-container .link:hover {
  color: var(--main-color);
}

.item-image .product-image {
  object-fit: fill;
  border-radius: 12px;
  position: relative !important;
  width: 115px !important;
  height: 100px !important;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}
.item-name {
  color: var(--paragraph);
  text-align: left;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
.item-name:hover {
  color: var(--main-color);
}

.item-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.item-rating.center {
  gap: 0.2rem;
  font-size: 15px;
  flex-direction: column;
}
.reviews-count {
  color: var(--paragraph);

  font-size: 0.8rem;
  font-weight: 600;
}

.table-item .item-price .price-holder p {
  justify-content: center;
  gap: 8px;
  font-size: 15px;
}
.table-item .item-price .price-holder p * {
  font-size: 15px !important;
}
.table-item .item-price .price-holder p .discount {
  font-size: 0.95rem !important;
}
@media (max-width: 1700px) {
  .table-container .table-header,
  .table-container .table-item {
    grid-template-columns: 1fr 0.45fr 1fr 0.8fr 0.9fr 0.6fr;
    gap: 10px;
  }
  .table-container.pending-ads-tasble .table-header,
  .table-container.pending-ads-tasble .table-item {
    grid-template-columns: 1fr 0.45fr 1fr 0.8fr 0.6fr;
  }
  .header-item {
    font-size: 14px;
  }
  p.date {
    font-size: 13px;
  }
  .table-container .nisted > :last-child {
    font-size: 13px;
  }
  .table-container .nisted > :first-child {
    font-size: 14px;
  }
  .table-container .item-name,
  .table-container .item-name span {
    font-size: 13px;
  }
  .table-container .table-items .holder {
    gap: 10px;
  }
}
@media (max-width: 1450px) {
  .table-container .table-header,
  .table-container .table-item {
    grid-template-columns: 1fr 0.45fr 1fr 0.8fr 0.9fr 0.5fr;
  }
  .table-container.pending-ads-tasble .table-header,
  .table-container.pending-ads-tasble .table-item {
    grid-template-columns: 1fr 0.45fr 1fr 0.8fr 0.5fr;
  }
  .item-price {
    font-size: 14px;
  }
  p.date .table-container .nisted > :last-child {
    font-size: 12px;
  }

  .table-container .actions {
    gap: 1px;
  }
  .table-container .actions svg {
    width: 29px;
    height: 29px;
    padding: 6px;
  }
  .table-container .item-overview {
    padding: 0 10px;
  }
}
@media (max-width: 1400px) {
  .table-header,
  .table-item {
    grid-template-columns: 1.7fr 1.4fr 1fr 1fr;
  }
  .item-image .product-image {
    width: 100px !important;
  }
}
@media (max-width: 1300px) {
  .table-container .item-overview {
    padding: 0;
  }
  .table-container .table-header,
  .table-container .table-item {
    grid-template-columns: 0.9fr 0.45fr 0.6fr 0.5fr 0.35fr 0.4fr;
    gap: 15px;
  }
  .table-container.pending-ads-tasble .table-header,
  .table-container.pending-ads-tasble .table-item {
    grid-template-columns: 0.9fr 0.45fr 1fr 0.8fr 0.6fr;
  }
  .table-container .item-overview {
    grid-template-columns: 1fr;
  }
  .table-container .item-overview h4 {
    font-size: 13px;
  }
  .table-container .actions {
    gap: 0;
  }
}

@media (max-width: 1200px) {
  .table-header,
  .table-item {
    grid-template-columns: 1.7fr 1fr 1.1fr 0.7fr;
    gap: 15px;
    padding: 1rem;
  }

  .header-item {
    font-size: 14px;
    font-weight: 700;
  }

  .item-image .product-image {
    width: 100px !important;
    height: 85px !important;
  }
  .item-name {
    font-size: 15px;
  }

  .table-item .item-price .price-holder p {
    justify-content: center;
    gap: 3px 8px;
  }
  .table-item .item-price .price-holder p .discount {
    font-size: 0.85rem !important;
  }
  .quantity-btn {
    min-width: 34px;
    max-width: 34px;
    height: 34px;
  }
  .remove-btn {
    width: 37px;
    height: 37px;
    font-size: 14px;
  }
}
@media (max-width: 1100px) {
  .table-header,
  .table-item {
    grid-template-columns: 1.7fr 1fr 0.8fr 0.5fr;
  }
}
@media (max-width: 992px) {
  .table-container .table-header,
  .table-container .table-item {
    padding: 0.42rem 0.7rem;
    grid-template-columns: 0.9fr 0.1fr 0.6fr 0.5fr 0.35fr 0.4fr;
    gap: 22px;
  }
  .table-container.pending-ads-tasble .table-header,
  .table-container.pending-ads-tasble .table-item {
    grid-template-columns: 0.9fr 0.1fr 0.6fr 0.5fr 0.4fr;
  }
  .item-image .product-image {
    width: 80px !important;
    height: 70px !important;
    border-radius: 10px;
  }

  .item-details {
    gap: 2px;
  }
  .item-name {
    font-size: 14px;
  }
  .table-container .link span {
    display: none;
  }
  .quantity-controls {
    gap: 8px;
  }
  .table-container .actions hr {
    margin: 0 3px;
  }
  p.date,
  .table-container .nisted > :last-child {
    font-size: 12px;
  }
  .header-item {
    font-size: 12px;
  }
  .table-container .nisted > :first-child {
    font-size: 13px;
  }
  .item-price {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .table-container {
    box-shadow: unset;
    border: none;
    overflow: unset;
    margin-bottom: 0;
  }

  .table-container .item-image .product-image {
    width: 100% !important;
    height: unset !important;
    aspect-ratio: 1.4;
    object-fit: fill;
    border-radius: 15px;
  }
  .table-container .item-details {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 9px;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .table-container .item-overview {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .table-container .item-name,
  .table-container .item-name span {
    font-size: 15px;
  }
  .table-container .nisted > * {
    font-size: 16px !important;
  }
  .table-container .actions svg {
    width: 31px;
    height: 31px;
    padding: 6px;
  }
  .table-container .table-header,
  .table-container .table-item {
    gap: 7px;
    margin-bottom: 5px;
  }
  .table-container .table-header {
    display: none;
  }
  .table-container .item-overview h4 {
    padding: 7px 11px;
  }
  p.date,
  .table-container .nisted > :last-child,
  .header-item {
    font-size: 14px;
  }
  .item-price {
    color: var(--main-color);
    font-size: 20px;
    line-height: 1;
    font-weight: 800;
  }
  .table-container .table-item {
    padding: 0.42rem 0.7rem 6px !important;
    height: fit-content;
  }

  .table-container .actions {
    gap: 7;
    width: 100%;
    justify-content: space-around;
    border-top: 1px solid var(--border-color);
    padding: 7px 0 0;
  }
  .table-container .actions > a,
  .table-container .actions > svg {
    flex: 1 !important;
  }
  .table-container .actions svg {
    width: 100%;
    padding: 7px;
  }
  .table-container .table-item {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 2px 10px #0000001a;
    padding-bottom: 7px !important;
  }
  .table-container .table-items > *,
  .table-container .table-items .holder {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 0;
    border: none;
  }
  .table-header {
    display: flex;
    margin-bottom: 15px;
    border-radius: 16px;
  }
  .table-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .table-container .table-items .holder {
    width: 100%;
    gap: 15px !important;
  }
  .table-item .item-image {
    width: 100%;
  }
  .item-image .product-image {
    width: 100% !important;
    height: unset !important;
    border-radius: 0px;
    aspect-ratio: 1;
  }

  .item-name {
    font-size: 16px;
  }
  .remove-btn {
    width: 34px;
    height: 34px;
  }
  .total-label {
    display: none;
  }
  .nav-btn {
    width: 125px;
  }
}
@media (max-width: 600px) {
  .table-items {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 550px) {
  .table-items {
    grid-template-columns: repeat(1, 1fr);
  }
  .nav-btn {
    width: 90px;
    font-size: 11px;
  }
}
